.posts {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  box-shadow: 5px 8px 8px #101010;
  padding: 10px;

  .preview {
	margin: 10px;
	div {
	  background-color: #424242;
	  color: whitesmoke;
	}
  }
}
